.maincontent{
    background-color: rgb(183, 178, 170);
    width: 100%;
        height: 100vh;
margin: 10%auto;
}
.box{
     background-color: rgb(173, 122, 159);
max-width: 700px;
        height: 400px;
         margin: auto;
}
.box-head{
        
  background-color: #1f2d50;
    color: white;
    padding: 15px 20px;
    font-size: 18px;
    font-weight: bold;
   }
   .label{
    display:block;
    font-size:14px;
    font-weight:bold;
    color:#2f6aa6;
   }

textarea{
    width:600px;
    height:35px;
    padding:6px;
    border:1px solid #7f8c8d;
    background-color:#fdfefe;
    font-size:14px;
    margin-bottom:10px;
}
button{
    width:150px;
    height:30px;
    border:1px solid white;
    background-color:#31256d;
    color:white;
    font-size:14px;
    font-weight:bold;
    border-radius: 10px;
}

button:hover{
    background-color:#61aa90;
}